@keyframes waving{
                0%{transform: rotate(-90deg);}
                100%{transform: rotate(90deg);}
        }

.wave{
            animation-duration: 3s;
            animation-name: waving;
            animation-iteration-count: infinite;
        }

h1 {
	margin-bottom: 20px;
	margin-top: 10px;
	text-align: center;
}

body {
    background-color: #ffe4c4;
}